.Admin{
    height: 100%;
    /* padding-top: -40px; */

}

.AddPost{
    display: flex;
    flex-direction: column;
}
.Preview{
}

.LoginBox{
    position: absolute;
	top:0;
	bottom: 0;
	left: 0;
    right: 0;
    margin: auto;
    margin-top: 10%;
    
    background-color: rgb(110, 148, 252) ;
    box-shadow: 0 0 2px 2px darkgray;

    height: 200px;
    width: 400px;
    /* border: solid; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding-top: 20%; */
}

.LoginBox>div{
    margin-bottom: 10px;
    margin-top: 10px;
}

.SubmitButton{
    border:transparent;
    background-color: teal;
    box-shadow: 0 0 1px 1px black;
    border-radius: 10px;
    height:30px;
    width: 60px;
    color: whitesmoke;
    
    
}

.FormBox{
    position: absolute;
	top:0;
	bottom: 0;
	left: 0;
    right: 0;
    margin: auto;
    margin-top: 10%;

    /* border:solid; */
    display: flex;
    flex-direction: column;
    width:1000px;
    /* height:auto; */
    /* height: 150%; */
    /* border-bottom: none; */

}
.FormBox>div{
    display: flex;
    /* margin: auto; */
    justify-content: center;
    margin-top: 30px;
}
.FormBox>div>div{
    margin-right: 20px;

}

#loginInput{
    height:30px;
    border-radius: 5px;
    border: transparent;
    box-shadow: 0 0 2px 2px darkgray;

}

#content-input{
    width: 300px;
    height:30px;
}
#content-input-area{
    width: 600px;
    height:400px;


}