
.Body{
    display: flex;
    height: 100%;
}
.LeftMenu{
    width: 20%;
    height: 100%;
    background-color: lightslategray;
    /* background-image: url("../images/bg.png"); */

}
.Blogs{
    height: 100%;
}

ul {
    list-style-type: none;
  }

.Posts{
    /* displ */
    width:80%;
}